.search{
  clear: both;
  margin:-20px -20px 15px;
  padding: 20px;
  background: #46be8a;
}
.search input{
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #ffffff;
}
.search input:focus{
  outline: none;
}
